<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="shortcut icon" href="//stroynova44.ru/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="//stroynova44.ru/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//stroynova44.ru/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//stroynova44.ru/img/favicon/apple-touch-icon-114x114.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//stroynova44.ru/css/all.css" type="text/css" />
    <link rel="stylesheet" href="css/main-new.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="line_logo">
                <div class="header-top__wrapper">
                    <div class="header-img">
                        <div class="logo logo-desc">
                            <a href="/">
                                <svg width="50" height="53" viewBox="0 0 50 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_111_455)">
                                        <path d="M21.5 0H27.7L49.8 20.1V52H43.4V39.6H29.8V32.7H43.6V20.7L21.5 0Z" fill="#3EA53C" />
                                        <path d="M10.7 10.1999H17.2L28 0.399902H21.5L10.7 10.1999Z" fill="#000" />
                                        <path d="M24.9 27.1V19H0V24.2V27.1V44V52.1H7H24.9V44H7V27.1H24.9Z" fill="#000" />
                                        <path d="M29.1 19H21.5V29.4H29.1V19Z" fill="#3EA53C" />
                                        <path d="M29.1 41.7H21.5V52.0999H29.1V41.7Z" fill="#3EA53C" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_111_455">
                                            <rect width="49.8" height="52.1" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <div class="logo-text">
                                <span class="title">стройнова</span>
                                <span class="descr">строим будущее вместе</span>
                            </div>
                        </div>
                        <div class="logo header-icon">
                            <img src="//stroynova44.ru/img/icon.png" alt="Alt">
                            <img src="//stroynova44.ru/img/medal.png" alt="Alt">
                            <img src="//stroynova44.ru/img/logo20241.png" alt="Alt">
                        </div>
                    </div>
                    <div class="address_text">
                        <div class="address_text_wrapper">
                            <p>
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33334 6.87842C2.33334 3.81185 4.89593 1.33325 7.99564 1.33325C11.1041 1.33325 13.6667 3.81185 13.6667 6.87842C13.6667 8.42371 13.1047 9.85834 12.1797 11.0743C11.1592 12.4156 9.90145 13.5842 8.48571 14.5015C8.16168 14.7135 7.86926 14.7295 7.51364 14.5015C6.08983 13.5842 4.83207 12.4156 3.82034 11.0743C2.89467 9.85834 2.33334 8.42371 2.33334 6.87842ZM6.1295 7.05109C6.1295 8.07839 6.96778 8.88637 7.99564 8.88637C9.02417 8.88637 9.87052 8.07839 9.87052 7.05109C9.87052 6.03178 9.02417 5.18447 7.99564 5.18447C6.96778 5.18447 6.1295 6.03178 6.1295 7.05109Z" fill="#8B1111" />
                                    </svg>Офис продаж:                                </span>
                                <span class="address">г. Кострома, ул. Свердлова, д. 41Б, помещ. 3, ком. 9</span>
                            </p>
                        </div>
                    </div>
                    <div class="contacts">
                        <a class="phone" href="tel:84942542222" class="number_phone">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.6122 3.65976C9.29484 3.60113 9.00338 3.80366 8.94296 4.11345C8.88254 4.42323 9.0857 4.72569 9.39443 4.78632C10.3239 4.96753 11.0417 5.68703 11.2236 6.61973V6.62039C11.2754 6.88887 11.5117 7.08407 11.7839 7.08407C11.8204 7.08407 11.857 7.08074 11.8941 7.07408C12.2029 7.01212 12.406 6.71033 12.3456 6.39988C12.0741 5.00683 11.0018 3.93091 9.6122 3.65976Z" fill="#8B1111" />
                                <path d="M9.57071 1.33854C9.42199 1.31722 9.2726 1.36119 9.15376 1.45579C9.03159 1.55173 8.95524 1.6903 8.93864 1.84552C8.90345 2.15931 9.12985 2.44311 9.44323 2.47842C11.6043 2.71959 13.2841 4.4031 13.5271 6.57095C13.5596 6.86141 13.8033 7.0806 14.0941 7.0806C14.116 7.0806 14.1372 7.07926 14.1592 7.0766C14.3112 7.05994 14.4466 6.98466 14.5422 6.86474C14.6372 6.74483 14.6803 6.59559 14.6631 6.44303C14.3603 3.73822 12.2669 1.639 9.57071 1.33854Z" fill="#8B1111" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.3545 8.64826C10.0139 11.3069 10.6172 8.23115 12.3104 9.92321C13.9429 11.5552 14.8811 11.8821 12.8128 13.9498C12.5538 14.158 10.9077 16.6628 5.12307 10.8798C-0.662316 5.096 1.84106 3.4483 2.04932 3.1893C4.12258 1.1159 4.44391 2.05959 6.07633 3.69155C7.76958 5.38433 4.69511 5.98961 7.3545 8.64826Z" fill="#8B1111" />
                            </svg>+7 (4942) 54-22-22                        </a>
                        <a href="mailto:stroynowa@mail.ru" class="email">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2929 2C12.1869 2 13.0469 2.35333 13.6796 2.98733C14.3129 3.62 14.6669 4.47333 14.6669 5.36667V10.6333C14.6669 12.4933 13.1536 14 11.2929 14H4.70694C2.84627 14 1.3336 12.4933 1.3336 10.6333V5.36667C1.3336 3.50667 2.8396 2 4.70694 2H11.2929ZM12.3536 6.36L12.4069 6.30667C12.5663 6.11333 12.5663 5.83333 12.3996 5.64C12.3069 5.54067 12.1796 5.48 12.0469 5.46667C11.9069 5.45933 11.7736 5.50667 11.6729 5.6L8.66694 8C8.28027 8.32067 7.72627 8.32067 7.3336 8L4.3336 5.6C4.12627 5.44667 3.8396 5.46667 3.66694 5.64667C3.48694 5.82667 3.46694 6.11333 3.6196 6.31333L3.70694 6.4L6.74027 8.76667C7.1136 9.06 7.56627 9.22 8.04027 9.22C8.51294 9.22 8.9736 9.06 9.34627 8.76667L12.3536 6.36Z" fill="#8B1111" />
                            </svg>stroynowa@mail.ru                        </a>
                    </div>
                    <div class="whatsapp">
                        <a href="https://wa.me/79303202222">
                            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle opacity="0.1" cx="23" cy="23" r="18" fill="#4CAF50" />
                                <circle opacity="0.4" cx="23" cy="23" r="22" stroke="#4CAF50" stroke-width="2" />
                                <path d="M14.2364 30.1331L14.3885 29.6605L14.1041 29.2536C12.7811 27.3611 12 25.0261 12 22.5C12 16.1194 16.9711 11 22.997 11H23.003C29.0288 11 34 16.1209 34 22.5C34 28.8791 29.0288 34 23.003 34C20.7739 34 18.7071 33.3104 16.9695 32.1113L16.5589 31.828L16.0856 31.9856L13.346 32.8979L14.2364 30.1331Z" stroke="#4CAF50" stroke-width="2" />
                                <path d="M29.9855 27.6517C29.696 28.5032 28.547 29.2095 27.6305 29.4157C27.0035 29.5548 26.1845 29.6657 23.4275 28.4751C19.901 26.9532 17.63 23.2204 17.453 22.9782C17.2835 22.736 16.028 21.0017 16.028 19.2079C16.028 17.4142 16.9025 16.5407 17.255 16.1657C17.5445 15.8579 18.023 15.7173 18.482 15.7173C18.6305 15.7173 18.764 15.7251 18.884 15.7313C19.2365 15.747 19.4135 15.7688 19.646 16.3485C19.9355 17.0751 20.6405 18.8688 20.7245 19.0532C20.81 19.2376 20.8955 19.4876 20.7755 19.7298C20.663 19.9798 20.564 20.0907 20.387 20.3032C20.21 20.5157 20.042 20.6782 19.865 20.9063C19.703 21.1048 19.52 21.3173 19.724 21.6845C19.928 22.0438 20.633 23.2423 21.671 24.2048C23.0105 25.447 24.0965 25.8438 24.485 26.0126C24.7745 26.1376 25.1195 26.1079 25.331 25.8735C25.5995 25.572 25.931 25.072 26.2685 24.5798C26.5085 24.2267 26.8115 24.1829 27.1295 24.3079C27.4535 24.4251 29.168 25.3079 29.5205 25.4907C29.873 25.6751 30.1055 25.7626 30.191 25.9173C30.275 26.072 30.275 26.7985 29.9855 27.6517Z" fill="#4CAF50" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="address_text desctop-hide">
                    <div class="address_text_wrapper">
                        <p>
                            <span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33334 6.87842C2.33334 3.81185 4.89593 1.33325 7.99564 1.33325C11.1041 1.33325 13.6667 3.81185 13.6667 6.87842C13.6667 8.42371 13.1047 9.85834 12.1797 11.0743C11.1592 12.4156 9.90145 13.5842 8.48571 14.5015C8.16168 14.7135 7.86926 14.7295 7.51364 14.5015C6.08983 13.5842 4.83207 12.4156 3.82034 11.0743C2.89467 9.85834 2.33334 8.42371 2.33334 6.87842ZM6.1295 7.05109C6.1295 8.07839 6.96778 8.88637 7.99564 8.88637C9.02417 8.88637 9.87052 8.07839 9.87052 7.05109C9.87052 6.03178 9.02417 5.18447 7.99564 5.18447C6.96778 5.18447 6.1295 6.03178 6.1295 7.05109Z" fill="#8B1111" />
                                </svg> Офис продаж:                            </span>
                            <span class="address">г. Кострома, ул. Свердлова, д. 41Б, помещ. 3, ком. 9</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="mobile__btn">
            <span></span>
        </button>
        <div class="top_menu">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-lg-offset-1">
                    <div class="header-img">
                        <div class="logo logo-desc">
                            <svg width="50" height="53" viewBox="0 0 50 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_111_455)">
                                    <path d="M21.5 0H27.7L49.8 20.1V52H43.4V39.6H29.8V32.7H43.6V20.7L21.5 0Z" fill="#3EA53C" />
                                    <path d="M10.7 10.1999H17.2L28 0.399902H21.5L10.7 10.1999Z" fill="#DADADA" />
                                    <path d="M24.9 27.1V19H0V24.2V27.1V44V52.1H7H24.9V44H7V27.1H24.9Z" fill="#DADADA" />
                                    <path d="M29.1 19H21.5V29.4H29.1V19Z" fill="#3EA53C" />
                                    <path d="M29.1 41.7H21.5V52.0999H29.1V41.7Z" fill="#3EA53C" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_111_455">
                                        <rect width="49.8" height="52.1" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="logo-text">
                                <span class="title">стройнова</span>
                                <span class="descr">строим будущее вместе</span>
                            </div>
                        </div>
                    </div>
                    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                        <ul class="sf-menu">
                            <li class="">
                                <a href="/">Главная</a>
                            </li>
                            <li class="">
                                <a href="//stroynova44.ru/about-us">О компании</a>
                            </li>
                            <li class="list-for-phone ">
                                <a href="//stroynova44.ru/objekty">Наши работы</a>
                            </li>
                            <li class="is-active current">
                                <a href="//stroynova44.ru/pokupatelyam">Покупателям</a>
                            </li> <!--  -->
                            <li class="list-menu ">
                                <a href="//stroynova44.ru/objekty">Наши работы</a>
                                <ul>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/63">Ресторан "Гроза" </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/62">Жилой многоквартирный дом на ул. Войкова 22 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/61">Жилой дом на ул. Юрия Смирнова, 15а </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/zhk-lenin-grad"> ЖК ЛЕНИН - ГРАД </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/60"> Жилой дом на ул. Голубкова, 6 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/19">Жилой дом на ул. Юрия Смирнова, 15а </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/59"> Жилой многоквартирный дом на ул. Шагова 68 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/58">Жилой многоквартирный дом на ул Симановского 93 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/43">Жилой многоквартирный дом на ул. Шагова 68 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/golubkova">Жилой дом на ул. Голубкова, 6 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/42">Отель Островский </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/11">Хирургия глаза </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/55">Жилой многоквартирный дом на ул Симановского 93 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/9">Парк на Никитской </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/54">Жилой многоквартирный дом на ул. Войкова 22 </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/10">Современное промышленное кролиководство </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/57">ЖК «ШКОЛЬНИК» на ул. Ленина, 96 а </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/product/list/6">Строительство складского терминала </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-for-phone ">
                                <a href="//stroynova44.ru/kvartiri">Квартиры</a>
                            </li>
                            <li class="list-menu ">
                                <a href="//stroynova44.ru/kvartiri">Квартиры</a>
                                <ul>
                                    <li>
                                        <a href="//stroynova44.ru/zhk-novoe_pokolenie">ЖК Новое поколение </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/zhk-patriot">ЖК Патриот </a>
                                    </li>
                                    <li>
                                        <a href="//stroynova44.ru/zhk-perspectiva">ЖК Перспектива </a>
                                    </li>
                                </ul>
                            </li>
                            <!--<li class="">
                                <a href="//stroynova44.ru/uslugi">Услуги</a></li>-->
                            <li class="">
                                <a href="//stroynova44.ru/contacts">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="address_text">
                        <div class="address_text_wrapper">
                            <p>
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33334 6.87842C2.33334 3.81185 4.89593 1.33325 7.99564 1.33325C11.1041 1.33325 13.6667 3.81185 13.6667 6.87842C13.6667 8.42371 13.1047 9.85834 12.1797 11.0743C11.1592 12.4156 9.90145 13.5842 8.48571 14.5015C8.16168 14.7135 7.86926 14.7295 7.51364 14.5015C6.08983 13.5842 4.83207 12.4156 3.82034 11.0743C2.89467 9.85834 2.33334 8.42371 2.33334 6.87842ZM6.1295 7.05109C6.1295 8.07839 6.96778 8.88637 7.99564 8.88637C9.02417 8.88637 9.87052 8.07839 9.87052 7.05109C9.87052 6.03178 9.02417 5.18447 7.99564 5.18447C6.96778 5.18447 6.1295 6.03178 6.1295 7.05109Z" fill="#8B1111" />
                                    </svg>Офис продаж:
                                </span>
                                <span class="address">г. Кострома, ул. Свердлова, д. 41Б, помещ. 3, ком. 9</span>
                            </p>
                            <div class="footer-img-logo">
                                <img src="//stroynova44.ru/img/icon.png" alt="Alt">
                                <img src="//stroynova44.ru/img/medal.png" alt="Alt">
                                <img src="//stroynova44.ru/img/logo20241.png" alt="Alt">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header__divider"></div>
    <!-- /Header -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="//stroynova44.ru//">Главная</a> / <span>Покупателям</span> </div>
                </div>
            </div>
        </div>
    </section><!-- Main -->