include _header.jade
<div class="top_form_block">
    <div class="block_inner">
        <div class="path_block_link">
            <a href="">Главная</a><span>></span><a href="">Услуги</a><span>></span>Название услуги 
        </div>
        <div class="left">
            <h1 class="title">Продвижение <span>сайтов в Москве</span></h1>
            <div class="subtitle">ХОТИТЕ УВЕЛИЧИТЬ</div>
            <div class="text">ПОИСКОВЫЙ <span>ТРАФИК НА 300%?</span></div>
            <form action="">
                <div class="form_inner">
                    <div class="field required">
                        <div class="field_name">Ваш имя</div>
                        <input type="text" required placeholder="Имя">
                    </div>
                    <div class="field required">
                        <div class="field_name">Номер телефона</div>
                        <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                    </div>
                    <div class="field">
                        <div class="field_name">Ваш сайт</div>
                        <input type="text" placeholder="www. _______">
                    </div>
                    <button class="btn_button form_button">Получить бесплатный аудит</button>
                </div>
                <div class="field checkbox required">
                    <label>
                        <input type="checkbox" checked>
                        <i></i>
                        <span>Согласен с Политикой кончиденциальности</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="wh_block_wr">
    <div class="block_inner">
        <div class="left">
            <div class="title">Что даёт <span>SEO</span></div>
            <div class="subtitle">продвижение сайта в <span>ТОП</span></div>
        </div>
        <div class="body">СЕО продвижение сайта позволяет достичь ТОПовых позиций в Яндекс и Google и закрепить их в органической выдаче, а также увеличить прибыль от продаж через Ваш сайт, путем качественного наращивания целевой аудитории и ее конвертации в лид.</div>
    </div>
</div>
<div class="tariff_block_wr">
    <div class="block_inner">
        <div class="title">Тарифы </div>
        <div class="inner">
            <div class="item">
                <div class="top_item">
                    <div class="name">По позициям</div>
                    <div class="price">от 45 000 руб</div>
                </div>
                <ul>
                    <li>
                        <div class="name_val">KPI:</div>
                        <div class="text">KPI за позиции <br> Гарантия вывода в ТОП-3 <br> До 1000 фраз в работе</div>
                    </li>
                    <li>
                        <div class="name_val">Для кого:</div>
                        <div class="text">Для небольших сайтов <br>Для сайтов услуг</div>
                    </li>
                    <li>
                        <div class="name_val">Результат:</div>
                        <div class="text">Сайт на высоких позициях</div>
                    </li>
                </ul>
                <div class="bottom_item">
                    <a href="" class="btn_button border form_btn"><span>Заказать</span></a>
                </div>
            </div>
            <div class="item">
                <div class="top_item">
                    <div class="name">По трафику</div>
                    <div class="price">от 50 000 руб</div>
                </div>
                <ul>
                    <li>
                        <div class="name_val">KPI:</div>
                        <div class="text">KPI за переходы <br>До 500 фраз в работе</div>
                    </li>
                    <li>
                        <div class="name_val">Для кого:</div>
                        <div class="text">для средних сайтов</div>
                    </li>
                    <li>
                        <div class="name_val">Результат:</div>
                        <div class="text">Высокие позиции, постоянный рост трафика</div>
                    </li>
                </ul>
                <div class="bottom_item">
                    <a href="" class="btn_button border form_btn"><span>Заказать</span></a>
                </div>
            </div>
            <div class="item">
                <div class="top_item">
                    <div class="name">По трафику</div>
                    <div class="price">от 50 000 руб</div>
                </div>
                <ul>
                    <li>
                        <div class="name_val">KPI:</div>
                        <div class="text">KPI за переходы <br>От 1000 до 5000 фраз в работе</div>
                    </li>
                    <li>
                        <div class="name_val">Для кого:</div>
                        <div class="text">Крупный/средний бизнес Интернет-магазины, сайты услуг</div>
                    </li>
                    <li>
                        <div class="name_val">Результат:</div>
                        <div class="text">Высокие позиции, рост конверсий и трафика</div>
                    </li>
                </ul>
                <div class="bottom_item">
                    <a href="" class="btn_button border form_btn"><span>Заказать</span></a>
                </div>
            </div>
            <div class="item">
                <div class="top_item">
                    <div class="name">Индиви­дуальный</div>
                    <div class="price">от 70 000 руб</div>
                </div>
                <ul>
                    <li>
                        <div class="name_val">KPI:</div>
                        <div class="text">KPI по согласованию <br>Любое количество фраз</div>
                    </li>
                    <li>
                        <div class="name_val">Для кого:</div>
                        <div class="text">Для сайтов с индивидуальными целями</div>
                    </li>
                    <li>
                        <div class="name_val">Результат:</div>
                        <div class="text">Высокие позиции, рост всех показателей+выполнение индивидуальных условий</div>
                    </li>
                </ul>
                <div class="bottom_item">
                    <a href="" class="btn_button border form_btn"><span>Заказать</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider_block_wr">
    <div class="block_inner">
        <div class="title_block">
            <div class="title">Результаты <span>CEO продвижения</span></div>
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-images-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper_arrow_btn swiper-images-next"></div>
            </div>
        </div>
        <div class="inner">
            <div class="swiper mySwiper_images" data-id="mySwiper_images" data-arrow="images">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/slider.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/bgtop.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/slider.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form_main_block">
    <div class="block_inner form_style">
        <div class="title">Оставить заявку</div>
        <form action="">
            <div class="inner">
                <div class="left">
                    <div class="field">
                        <div class="field_name required">Ваш имя</div>
                        <input type="text" required placeholder="Имя">
                    </div>
                    <div class="field required">
                        <div class="field_name">Ваш телефон*</div>
                        <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                    </div>
                    <div class="field required">
                        <div class="field_name">Ваш Email*</div>
                        <input type="text" required class="email_input" placeholder="Адрес почты">
                    </div>
                </div>
                <div class="right">
                    <div class="field">
                        <div class="field_name">Ваш сайт</div>
                        <input type="text" placeholder="www. _______">
                    </div>
                    <div class="field">
                        <div class="field_name">Ваше сообщение</div>
                        <textarea name="" placeholder="Текст" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="field checkbox required">
                    <label>
                        <input type="checkbox" checked>
                        <i></i>
                        <span>Согласен с Политикой кончиденциальности</span>
                    </label>
                </div>
                <button class="btn_button border form_button"><span>Отправить</span></button>
            </div>
        </form>
    </div>
</div>
<div class="garant_block_wr">
    <div class="block_inner">
        <div class="left">
            <div class="title"><img src="img/mark.svg" alt=""> Знаем <span>Умеем</span> Сделаем</div>
        </div>
        <div class="right">
            <div class="name">Наши гарантии</div>
            <div class="body">
                <p>Стоимость продвижения проекта закрепляется на все время сотрудничества с гарантией результата - <span>Вы находитесь в ТОПе</span> на протяжении всего времени работы с нами.</p>
                <p>Мы предлагаем качественное SEO продвижение сайта, которое <span>увеличит конверсию и охват</span> вашей аудитории. Мы используем индивидуальный подход к каждому своему клиенту и разрабатываем стратегию, соответствующую вашим потребностям и бизнес-целям.</p>
                <p>Наша команда состоит из опытных SEO специалистов, программистов, копирайтеров, дизайнеров и контент-менеджеров, которые знают как за короткое время достичь высоких результатов. Мы используем <span>только белые SEO методы</span>, чтобы гарантировать безопасность и надежность продвижения вашего сайта.</p>
            </div>
        </div>
    </div>
</div>
<div class="client_result_block">
    <div class="block_inner">
        <div class="left">
            <div class="title">Что вы получите как клиент</div>
            <div class="inner">
                <div class="item">
                    <div class="icon">
                        <img src="img/icon1.png" alt="">
                    </div>
                    <div class="name">КОМАНДА</div>
                    <div class="text">Слаженную команду профессионалов в области SEO</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="img/icon2.png" alt="">
                    </div>
                    <div class="name">ЛИДЫ</div>
                    <div class="text">Увеличение количества целевых заявок и обращений</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="img/icon3.png" alt="">
                    </div>
                    <div class="name">ТРАФИК</div>
                    <div class="text">Рост целевого трафика из органики и только заинтересованную аудиторию</div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="img/icon4.png" alt="">
                    </div>
                    <div class="name">РАЗВИТИЕ</div>
                    <div class="text">Развитие Вашего бренда по четко сформированной бизнес-стратегии</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title">Когда ждать результат?</div>
            <div class="subtitle">Рост позиций сайта произойдет уже с первого месяца после начала работ.</div>
            <div class="body">Результат от продвижения сайта будет виден уже к концу первого месяца работы: начнется рост органического трафика, позиции будут выходить на более высокие места. Если сайт находится за 5-й или 10-й страницей выдачи Яндекс или Google, потребуется около 2-3 месяцев на его комплексную оптимизацию, чтобы запросы вышли на 4-5 страницу, а если сайт уже находится ближе к ТОПу (3-5 страница выдачи), то результат работы вы сможете увидеть в ближайшие пару месяцев.</div>
        </div>
    </div>
</div>
<div class="preim_block_wr">
    <div class="block_inner">
        <div class="title">Преимушества</div>
        <div class="inner">
            <div class="item">
                <div class="image">
                    <img src="img/preim1.svg" alt="">
                </div>
                <div class="name">Что вы <br>получаете,<br> выбирая нас:</div>
                <div class="body">
                    <ul>
                        <li>Более высокое место в выдаче </li>
                        <li>Увеличение целевого трафика</li>
                        <li>Рост конверсии </li>
                        <li>Полный отчет о проделанной работе</li>
                    </ul>
                </div>
                <div class="icon">
                    <img src="img/preim1-1.svg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="img/preim2.svg" alt="">
                </div>
                <div class="name">Сервис - самое важное </div>
                <div class="body">Будьте уверены в качестве нашей работы, заказывая раскрутку сайта в SetupSEO! У нас самые выгодные условия сотрудничества, высокая скорость работы и первоклассное качество услуг.</div>
                <div class="icon">
                    <img src="img/preim2-2.svg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="img/preim3.svg" alt="">
                </div>
                <div class="name">Более 40 постоянных клиентов</div>
                <div class="body">Для своих клиентов мы предоставляем: систему скидок, бонусы, seo поддержку и персональный доступ в систему учета и статистики. Прогресс выполнения всех задач и процесс работы всегда доступен для Вас. </div>
                <div class="icon">
                    <img src="img/preim3-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="algoritm_block">
    <div class="algoritm_block__subtitle">АЛГОРИТМ НАШЕЙ РАБОТЫ</div>
    <div class="algoritm_block__title">ЭТАПЫ SEO-ПРОДВИЖЕНИЯ САЙТА</div>
    <div class="algoritmTabs">
        <ul class="algoritmTabs__tabs">
            <li class="active-tab"><a href="#algo-0"><span>1.</span>Комплексный аудит сайта</a></li>
            <li><a href="#algo-1"><span>2.</span>Работа с ядром и структурой сайта</a></li>
            <li><a href="#algo-2"><span>3.</span>Аналитика конкурентов</a></li>
            <li><a href="#algo-3"><span>4.</span>Техническая оптимизация сайта</a></li>
            <li><a href="#algo-4"><span>5.</span>Улучшение комм.факторов и репутации</a></li>
            <li><a href="#algo-5"><span>6.</span>Аналитика и получение первых результатов</a></li>
            <li><a href="#algo-6"><span>7.</span>Итоговая статистика по всем показателям</a></li>
        </ul>
        <div class="algoritmTabs__desc">
            <div class="desc-area active-area" id="algo-0">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">1</div>
                    <div class="algoritmTabs__desc-title">Аудит сайта</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-1">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">2</div>
                    <div class="algoritmTabs__desc-title">Работа с ядром и структурой сайта</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-2">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">3</div>
                    <div class="algoritmTabs__desc-title">Аналитика конкурентов</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-3">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">4</div>
                    <div class="algoritmTabs__desc-title">Техническая оптимизация сайта</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-4">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">5</div>
                    <div class="algoritmTabs__desc-title">Улучшение комм.факторов и репутации</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-5">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">6</div>
                    <div class="algoritmTabs__desc-title">Аналитика и получение первых результатов</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
            <div class="desc-area" id="algo-6">
                <div class="product_wr">
                    <div class="algoritmTabs__desc-number">7</div>
                    <div class="algoritmTabs__desc-title">Итоговая статистика по всем показателям</div>
                    <div class="algoritmTabs__desc-body">Проводим детальный технический анализ сайта на наличие ошибок, которые оказывают негативное влияние на продвижение. Проводим анализ юзабилити и ссылочного профиля. Создаем техническое задание по доработкам.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info_block">
    <div class="info_block__title">Ключевая <span>информация о нас</span></div>
    <div id="infoTabs">
        <ul class="product-tabs">
            <li class="active-tab r-tabs-state-active"><a href="#tabs-0">Почему дешевле</a></li>
            <li><a href="#tabs-1">Философия</a></li>
            <li><a href="#tabs-2">Фотогалерея</a></li>
        </ul>
        <div class="product-desc">
            <div class="desc-area active-area r-tabs-state-active" id="tabs-0">
                <div class="product-desc__area-wrap">
                    <div class="product-desc__area-left">
                        <div class="product-desc__area-left-image"><img src="img/area_frame.png" alt=""></div>
                        <div class="product-desc__area-left-title">Философия нашей компании  НАША РАБОТА + ВАШ БИЗНЕС = КЛЮЧ <img src="img/red-mark.svg" alt=""> К УСПЕХУ</div>
                    </div>
                    <div class="product-desc__area-right">
                        <div class="product-desc__area-right-title">Работая с нами, Вы забудете, что такое: </div>
                        <ul>
                            <li>Траты впустую без видимого результата</li>
                            <li>Ложные данные и непонятные термины </li>
                            <li>Постоянные изменения в стоимости услуг</li>
                            <li>Дополнительные расходы ввиду увеличения запросов в ядре</li>
                            <li>Постоянная смена менеджера проекта</li>
                            <li>«Черное» и «серое» продвижение сайтов </li>
                            <li>Пустые обещания и нереальные гарантии </li>
                            <li>Краткосрочная работа по проекту с постоянными изменениями бюджета и KPI</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="desc-area" id="tabs-1">
                <div class="product-desc__area-wrap">
                    <div class="product-desc__area-left">
                        <div class="product-desc__area-left-image"><img src="img/area_frame.png" alt=""></div>
                        <div class="product-desc__area-left-title">Философия нашей компании  НАША РАБОТА + ВАШ БИЗНЕС = КЛЮЧ <img src="img/red-mark.svg" alt=""> К УСПЕХУ</div>
                    </div>
                    <div class="product-desc__area-right">
                        <div class="product-desc__area-right-title">Работая с нами, Вы забудете, что такое: </div>
                        <ul>
                            <li>Траты впустую без видимого результата</li>
                            <li>Ложные данные и непонятные термины </li>
                            <li>Постоянные изменения в стоимости услуг</li>
                            <li>Дополнительные расходы ввиду увеличения запросов в ядре</li>
                            <li>Постоянная смена менеджера проекта</li>
                            <li>«Черное» и «серое» продвижение сайтов </li>
                            <li>Пустые обещания и нереальные гарантии </li>
                            <li>Краткосрочная работа по проекту с постоянными изменениями бюджета и KPI</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="desc-area" id="tabs-2">
                <div class="product-desc__area-wrap">
                    <div class="product-desc__area-left">
                        <div class="product-desc__area-left-image"><img src="img/area_frame.png" alt=""></div>
                        <div class="product-desc__area-left-title">Философия нашей компании  НАША РАБОТА + ВАШ БИЗНЕС = КЛЮЧ <img src="img/red-mark.svg" alt=""> К УСПЕХУ</div>
                    </div>
                    <div class="product-desc__area-right">
                        <div class="product-desc__area-right-title">Работая с нами, Вы забудете, что такое: </div>
                        <ul>
                            <li>Траты впустую без видимого результата</li>
                            <li>Ложные данные и непонятные термины </li>
                            <li>Постоянные изменения в стоимости услуг</li>
                            <li>Дополнительные расходы ввиду увеличения запросов в ядре</li>
                            <li>Постоянная смена менеджера проекта</li>
                            <li>«Черное» и «серое» продвижение сайтов </li>
                            <li>Пустые обещания и нереальные гарантии </li>
                            <li>Краткосрочная работа по проекту с постоянными изменениями бюджета и KPI</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients_block">
    <div class="client">
        <div class="client__header">Лучшие клиенты <span>наши клиенты</span></div>
    </div>
    <div class="certificates">
        <div class="certificates__header">
            <div class="certificates__header-title">Лицензии и сертификаты</div>
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-arrow-prev"></div>
                <div class="swiper_arrow_btn swiper-arrow-next"></div>
            </div>
        </div>
        <div class="swiper swiperBlock" data-id="swiperBlock" data-arrow="arrow">
            <div class="swiper-wrapper" id="swiperBlockGall">
                <a href="https://dev.setupseo.ru/upload/iblock/f15/8b3evibl0wcqgp3br1v3v78upnrav21z.jpg" class="swiper-slide">
                    <img src="https://dev.setupseo.ru/upload/iblock/f15/8b3evibl0wcqgp3br1v3v78upnrav21z.jpg" alt="">
                </a>
                <a href="https://dev.setupseo.ru/upload/iblock/78c/esuhgnrlxz7sx9wlyhmzsiezus4daks8.jpg" class="swiper-slide">
                    <img src="https://dev.setupseo.ru/upload/iblock/78c/esuhgnrlxz7sx9wlyhmzsiezus4daks8.jpg" alt="">
                </a>
                <a href="img/sert3.jpg" class="swiper-slide">
                    <img src="img/sert3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text_block">
    <p>SetupSEO – студия seo продвижения в Москве, узко объединяющая два направления: разработка сайтов и поисковое продвижение. </p>
    <p>Наша отличительная особенность в том, что за всё время работы для своих клиентов мы сделали больше по средней статистике выполненных работ, в том числе и по скорости, чем остальные веб-студии. Мы ценим свою работу, своих клиентов, дорожим репутацией, поэтому предлагаем индивидуальные решения и структуру продвижения для каждого, кто к нам обращается. Наша команда состоит из Ведущих и сертифицированных специалистов по каждой области: SEO-продвижение, разработка, реклама, верстка и дизайн. </p>
    <p>Будьте уверены в качестве своего сайта, заказывая его раскрутку в SetupSEO! У нас самые выгодные условия сотрудничества, демократичные цены, благодаря которым клиенты остаются с нами надолго и высокая скорость работы! SetupSEO – лучшее решение для Вашего бизнеса!</p>
</div>
<div class="range_block">
    <div class="range_block__inner">
        <div class="range_block__header">
            <div class="range_block__header-title">Полный спектор услуг</div>
            <div class="range_block__header-desc">Оставляйте заявку на продвижение сайта прямо сейчас и получите бесплатную консультацию по продвижению вашего сайта и мини-аудит с планом работ на ближайший месяц!</div>
            <a href="#" class="range_block__header-link">СМОТРЕТЬ ВСЕ УСЛУГИ</a>
        </div>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Продвижение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range2.svg" alt=""></span>
            <span class="range_block__item-title">Интернет-реклама</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 10 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Сопровождение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 45 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range3.svg" alt=""></span>
            <span class="range_block__item-title">Аудиты</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 25 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/icon4.png" alt=""></span>
            <span class="range_block__item-title">Копирайтинг</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 70 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range2.svg" alt=""></span>
            <span class="range_block__item-title">Дополнительные услуги</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
    </div>
</div>
<div class="quiz_block">
    <div class="quiz_block__title">Вопросы ?<span>ответы</span></div>
    <div class="quiz_block__items-wrap">
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">Что такое SEO оптимизация ?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">От чего зависят сроки вывода позиций в ТОП?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">Как оценить результаты SEO ?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">ИЗ чего складывается цена на СЕО продвижение?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">Что влияет на рост конверсии и как его обеспечить?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
        <div class="quiz_block__item">
            <div class="quiz_block__item-title">Какие особенности продвижения сайтов разных тематик?</div>
            <div class="quiz_block__item-body">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Aperiam, distinctio molestiae provident odit sunt debitis sed placeat cumque cupiditate cum obcaecati consequatur earum praesentium veniam commodi perspiciatis voluptates! Pariatur, rerum.</div>
        </div>
    </div>
</div>
<div class="blog_block">
    <div class="blog_block__title">Блог</div>
    <div class="blog_block__items-wrap">
        <div class="blog_block__item">
            <a href="#" class="blog_block__item-title">Рассылки для продвижения бизнеса</a>
            <div class="blog_block__item-desc">Email-рассылка является одним из самых популярных инструментов для продвижения продукта. Его используют практически все компании. Но насколько он эффективен? Какие преимущества и недостатки присутствуют? Как правильно использовать? На что обращать внимание? <br>Почему рассылки по электронной почте важны для бизнеса Грамотно построенная стратегия рассылок по ... </div>
            <div class="blog_block__item-bottom">
                <div class="blog_block__item-date">30.05.2023</div>
                <a href="#" class="blog_block__item-link"></a>
            </div>
        </div>
        <div class="blog_block__item">
            <div class="blog_block__item-image">
                <img src="img/blog1.png" alt="">
            </div>
            <a href="#" class="blog_block__item-title">Рассылки для продвижения бизнеса</a>
            <div class="blog_block__item-bottom">
                <div class="blog_block__item-date">30.05.2023</div>
                <a href="#" class="blog_block__item-link"></a>
            </div>
        </div>
        <div class="blog_block__item">
            <div class="blog_block__item-image">
                <img src="img/blog2.png" alt="">
            </div>
            <a href="#" class="blog_block__item-title">Рассылки для продвижения бизнеса</a>
            <div class="blog_block__item-bottom">
                <div class="blog_block__item-date">30.05.2023</div>
                <a href="#" class="blog_block__item-link"></a>
            </div>
        </div>
    </div>
</div>
<div class="services_block">
    <div class="services_block__inner">
        <div class="services_block__header">
            <div class="services_block__header-title">Услуги продвижения для разных CMS</div>
            <div class="services_block__header-desc">Если Вы оплачиваете счет в течение недели после предоставленного аудита, то вы экономите 5 000 ₽. Бесплатная настройка контекстной рекламы Яндекс и Google, </div>
        </div>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/modx.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на MODX</div>
                <div class="services_block__item-price">от 30 000 ру</div>
            </div>
        </a>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/wp.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на WordPress</div>
                <div class="services_block__item-price">от 10 000 ру</div>
            </div>
        </a>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/joomla.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на Joomla</div>
                <div class="services_block__item-price">от 45 000 ру</div>
            </div>
        </a>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/ocart.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на OpenCart</div>
                <div class="services_block__item-price">от 25 000 ру</div>
            </div>
        </a>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/drupal.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на Drupal</div>
                <div class="services_block__item-price">от 70 000 ру</div>
            </div>
        </a>
        <a href="" class="services_block__item">
            <div class="services_block__item-left"><img src="img/bitrix.svg" alt=""></div>
            <div class="services_block__item-right">
                <div class="services_block__item-title">на Birtix</div>
                <div class="services_block__item-price">от 30 000 ру</div>
            </div>
        </a>
    </div>
</div>
<div class="about_us_block">
    <div class="about_us_block__title">О компании в цифрах</div>
    <div class="about_us_block__items-wrap">
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about1.png" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="87">0</span><span>%</span></div>
                <div class="about_us_block__item-title">увеличение конверсии</div>
            </div>
        </div>
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about2.svg" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="105">0</span><span>%</span></div>
                <div class="about_us_block__item-title">рост посещаемости</div>
            </div>
        </div>
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about3.svg" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="76">0</span><span>%</span></div>
                <div class="about_us_block__item-title">охват аудитории</div>
            </div>
        </div>
    </div>
</div>
<div class="niche_block">
    <div class="niche_block__title">Самые популярные ниши, в которых мы успешно продвинули сайты клиентов в топ</div>
    <div class="niche_block__buttons-wrap">
        <div class="niche_block__button">Автозапчасти</div>
        <div class="niche_block__button">Аппаратная косметология</div>
        <div class="niche_block__button">Экстрасенсы и магия</div>
        <div class="niche_block__button">Металлообработка</div>
        <div class="niche_block__button">Дом престарелых</div>
        <div class="niche_block__button">Эвакуаторы</div>
        <div class="niche_block__button">Монтаж домофонов</div>
        <div class="niche_block__button">Продажа и выкуп автомобилей</div>
        <div class="niche_block__button">Продажа шуб</div>
        <div class="niche_block__button">Перетяжка мебели</div>
        <div class="niche_block__button">Автоперевозки</div>
        <div class="niche_block__button">Натяжные потолки</div>
        <div class="niche_block__button">Медицинская клиника</div>
        <div class="niche_block__button">Юридические услуги</div>
    </div>
</div>
include _footer.jade