include _header.jade
	<div class="main_wr_tabs">
		<div class="main_tabs_header" style="background-image: url(files/head-tab.jpg);">
			<div class="container">
				<h2>Способы покупки</h2>
				<div class="text">Все способы покупки работают онлайн и позволяют оформить документы дистанционно.</div>
				<div class="tabs_main_title">
					<ul>
						<li class="active"><a href="#mortgage">ИПОТЕКА</a></li>
						<li><a href="#installment">Рассрочка</a></li>
						<li><a href="#certificates">Сертификаты</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tabs_main_body container">
			<div class="tabs_body active" id="mortgage">
				<h3>Виды ипотечных программ</h3>
				<div class="content_tabs">
					<div class="content_tabs_title">
						<ul>
							<li class="active"><a href="#tab-content0">Без первоначального взноса</a></li>
							<li><a href="#tab-content1">Семейная</a></li>
							<li><a href="#tab-content2">IT </a></li>
						</ul>
					</div>
					<div class="content_tabs_body">
						<div class="content_body active" id="tab-content0">
							<div class="text">Возможность приобретения квартиры здесь и сейчас, без откладывания покупки из-за  отсутствия накоплений (полностью или частично) на первоначальный взнос</div>
						</div>
						<div class="content_body" id="tab-content1">
							<div class="image_block_item">
								<div class="left_items">
									<div class="item">
										<div class="name">Размер ставки</div>
										<div class="number">6%</div>
										<p>Госпрограмма, где российские семьи с детьми могут получить кредит на покупку жилья по ставке 6% действует до конца 2030 года.</p>
									</div>
									<div class="item">
										<div class="name">Первоначальный взнос</div>
										<div class="number">от 20,1%</div>
										<p>При условии, что клиент является зарплатным клиентом ПАО ВТБ. Банковские услуги осуществляет ПАО ВТБ (лицензия банка №1000).</p>
									</div>
									<div class="item">
										<div class="name">Срок кредита</div>
										<div class="number small">от 20 до 30 лет</div>
									</div>
									<div class="item">
										<div class="name">Максимальная сумма кредита</div>
										<div class="number">6 млн. ₽</div>
									</div>
								</div>
								<div class="right_image">
									<img src="files/im-r.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="content_body" id="tab-content2">
							<h4>Кому подходит</h4>
							<div class="text">Госпрограмма, которой могут воспользоваться сотрудники  IT-организаций*, граждане РФ в возрасте до 50 лет, оформив ипотечный  кредит по ставке до 6% годовых.</div>
							<div class="image_block_item">
								<div class="left_items">
									<div class="item">
										<div class="name">Максимальная сумма кредита</div>
										<div class="number">9 млн.  </div>
										<p>Можно оформить сумму до 18 млн по средневзвешенной ставке.</p>
									</div>
									<div class="item">
										<div class="name">Минимальный первоначальный взнос</div>
										<div class="number">от 20%</div>
									</div>
								</div>
								<div class="right_image">
									<img src="files/im-r2.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="items_block">
					<div class="title">Этапы оформления сделок</div>
					<div class="inner">
						<div class="item">
							<div class="left">
								<div class="number">/01</div>
								<div class="name">Выбор и бронирование квартиры мечты</div>
							</div>
							<div class="icon">
								<img src="files/item-ic1.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/02</div>
								<div class="name">Выбор программы кредитования и получение решения Банка</div>
							</div>
							<div class="icon">
								<img src="files/item-ic2.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/03</div>
								<div class="name">Подготовка договора  ДДУ/ДКП</div>
							</div>
							<div class="icon">
								<img src="files/item-ic3.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/04</div>
								<div class="name">Запись на сделку</div>
							</div>
							<div class="icon">
								<img src="files/item-ic4.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/05</div>
								<div class="name">Регистрация сделки</div>
							</div>
							<div class="icon">
								<img src="files/item-ic5.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/06</div>
								<div class="name">Оплата договора</div>
							</div>
							<div class="icon">
								<img src="files/item-ic6.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs_body" id="installment">
				<div class="image_block_item">
					<div class="left_items">
						<div class="item-one">
							<div class="number small">В СК "Стройнова" индивидуальные условия рассрочки для каждого покупятеля</div>
						</div>
					</div>
					<div class="right_image">
						<img src="files/im-r3.jpg" alt="">
					</div>
				</div>
				<div class="items_block">
					<div class="title">Этапы оформления сделок</div>
					<div class="inner">
						<div class="item">
							<div class="left">
								<div class="number">/01</div>
								<div class="name">Выбор и бронирование квартиры мечты</div>
							</div>
							<div class="icon">
								<img src="files/item-ic1.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/02</div>
								<div class="name">Подготовка договора  ДДУ/ДКП</div>
							</div>
							<div class="icon">
								<img src="files/item-ic3.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/03</div>
								<div class="name">Запись на сделку</div>
							</div>
							<div class="icon">
								<img src="files/item-ic4.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/04</div>
								<div class="name">Регистрация сделки</div>
							</div>
							<div class="icon">
								<img src="files/item-ic5.svg" alt="">
							</div>
						</div>
						<div class="item">
							<div class="left">
								<div class="number">/05</div>
								<div class="name">Оплата договора</div>
							</div>
							<div class="icon">
								<img src="files/item-ic6.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs_body" id="certificates">
				<h3>Виды сертификатов</h3>
				<div class="content_tabs">
					<div class="content_tabs_title">
						<ul>
							<li class="active"><a href="#tab-content0-1">Материнский капитал </a></li>
							<li><a href="#tab-content1-1">Военная ипотека</a></li>
							<li><a href="#tab-content2-1">Жилищный сертификат</a></li>
						</ul>
					</div>
					<div class="content_tabs_body">
						<div class="content_body active" id="tab-content0-1">
							<div class="text">Реализуйте материнский капитал на расширение вашей жилплощади или покупку квартиры для ребёнка</div>
							<div class="body_image">
								<div class="left">
									<div class="title">Размер материнского капитала</div>
									<div class="body">
										<p>Зависит от даты рождения ребёнка и от того, получал ли родитель выплату при рождении первого малыша:</p>
										<ul>
											<li><strong>833 тыс. рублей</strong> материнский капитал на второго ребёнка, который  появился в семье с 1 января 2020 года, если родители ранее не получали  выплату на первенца;</li>
											<li><strong>630,4 тыс. рублей</strong> размер маткапитала на второго ребёнка, который родился или был усыновлён с 2007 до 2019 года включительно</li>
											<li><strong>202,6 тыс. рублей</strong> материнский капитал на второго ребёнка, который появился в семье с 2020 года, если родители уже получали выплату на первенца.</li>
										</ul>
									</div>
								</div>
								<div class="image">
									<img src="files/cer.jpg" alt="">
								</div>
							</div>		
							<div class="bottom_block">
								<div class="name">Как получить сертификат</div>
								<div class="body">C 15 апреля 2020 года материнский капитал начисляется автоматически.  Сертификат на выплату вы сможете найти в своем аккаунте на Госуслугах  или на сайте Пенсионного фонда.</div>
							</div>													
						</div>
						<div class="content_body" id="tab-content1-1">
							<div class="text">Для военнослужащих предусмотрена специальная льготная программа, которая  помогает приобрести недвижимость в рамках Накопительно-ипотечной системе (НИС)</div>
							<div class="body_image">
								<div class="left">
									<div class="title">Основные условия</div>
									<div class="body black">
										<ul>
											<li>Для участников накопительно-ипотечной системы согласно №117-ФЗ;</li>
											<li>Возраст на момент получения кредита должен быть не ниже 21 года;</li>
											<li>Деньги с накопительного счета могут быть использованы для первого взноса при ипотечном кредитовании либо для полной оплаты квартиры.</li>
										</ul>
									</div>
								</div>
								<div class="image">
									<img src="files/cer2.jpg" alt="">
								</div>
							</div>		
							<div class="bottom_block">
								<div class="name">Особые условия</div>
								<div class="body">Платежи по военной ипотеке рассчитываются, исходя из суммы взноса за текущий год, а срок кредита — исходя из возраста заявителя.</div>
							</div>		
						</div>
						<div class="content_body" id="tab-content2-1">
							<div class="text">Государственный жилищный сертификат – сертификат на получение выплаты,  на приобретение или строительство жилья</div>
							<div class="text2">Такой сертификат выдается в рамках сразу нескольких федеральных программ, однако, получить его можно только один раз. <br>Сумма жилищного сертификата рассчитывается как произведение положенной семье площади и рыночной стоимости 1 кв. метра жилой  площади, которая устанавливается каждое полугодие приказом Минстроя  России.</div>	
							<div class="body_image">
								<div class="left">
									<div class="title">Норма жилой площади на семью не может быть меньше:</div>
									<div class="body black">
										<ul>
											<li>33 кв. метра на одного человека;</li>
											<li>42 кв. метра на двух человек;</li>
											<li>По 18 кв. метров на человека для семей из трех человек и более.</li>
										</ul>
									</div>
								</div>
								<div class="border_block">
									<div class="name">Срок действия сертификата — 7 месяцев</div>
									<div class="body">За это время нужно найти жилье и отправить документы на проверку в банк, в котором будет открыт счет и переведены средства жилищного  сертификата.</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade